.post-interaction-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 46px;
}

#post-interaction-button-container {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    margin: 4px, 0px, 0px;
    padding: 0px, 12px, 6px;
}

#interaction-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 8px;
    text-decoration: none;
}

#interaction-button:hover{
    color: lightgray;
    cursor: pointer;
}

.LikeButtonUnlike {
    border: none;
    background: none;
    font-size: inherit;
}
.LikeButtonLike {
    border: none;
    color: rgb(246, 146, 163);
    background: none;
    font-size: inherit;
}
.LikeButtonLike:hover {
    color: lightgray;
    cursor: pointer;
}
.LikeButtonUnlike:hover {
    color: lightgray;
    cursor: pointer;
}
