#unfollow-modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 430px;
  height: 150px;
  border-radius: 2%;
}

#unfollow-modal-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  border-bottom-width: 1px;
  border-bottom: solid;
  border-bottom-color: lightgray;
}

#following-profile-pic {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  margin-right: 100.83px;
  margin-left: 100.83px;
  object-fit: cover;
  object-position: left top;
}

#unfollow-link {
  padding: 15px;
  text-decoration: none;
  color: black;
}
