.edit-post-modal-contaner {
    display: flex;
    flex-direction: column;
    border-radius: 25%;
}

.edit-post-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    border-bottom-width: 1px;
    border-bottom: solid;
    border-bottom-color: lightgray;
}

.edit-post-detail-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
    height: 800px
}

.edit-post-image-outer {
    max-width: 730px;
    min-width: 300px;
    height: 100%;
    overflow: hidden;
    background-color: gray;
    display: flex;
}


.edit-post-image-container {
    margin: auto;
    align-items: center;
    width: 100%;
}

.edit-post-details-container {
    padding: 8px;
    background-color: white;
    width: 470px
}

/* .edit-post-detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

#edit-post-user-detail-image {
    height: 54px;
    width: 54px;
}

.edit-post-user-preview-image {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    object-fit: contain;

}

.edit-post-detail-identity {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#edit-post-user-username {
    font-weight: bold;
}

.edit-post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.edit-post-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

.edit-post-form-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: white;
    padding: 5px 9px;
    background-color: #0095F6;
    border-radius: 8%;
}