#CreatePostPage3-id-d1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#CreatePostPage3-id-d1d1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}