#CreatePost-id-d1 {
    width: max-content;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}



#CreatePost-id-d1d1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-bottom: 2px solid rgb(76,76,76);
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    color: rgb(60,60,60);
}

.CreatePost-d1d1d {
    color: #4892dd;
    font-size: small;
}

.CreatePost-d1d1d:hover {
    color: rgb(60,60,60);
}