#ImageTransition-id-d1 {
    width: 380.312px;
    height: 581.141px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    background-position: 50% 0%;
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y4/r/ItTndlZM2n2.png");
}

#ImageTransition-id-d1i2 {
    position: absolute;
    right: 16.7px;
    top: 26px;
}