#SignForms-id-d1 {
    width: 350px;
    height: auto;
}


#SignForms-id-d1d1 {
    width: 348px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#SignForms-id-d1d1i1 {
    width: 150px;
    height: auto;
}

#SignForms-id-d1d2 {
    width: 348px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#SignForms-id-d1d3 {
    width: 100%;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignForms-d1d3d1i {
    width: auto;
    height: 40px;
}

.SignForm-f1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}